<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ book.title }}</title>
</head>

<body>
    <h1>{{ book.title }}</h1>
    <h2>{{book.author}}</h2>
    <p><strong>Summary</strong></p>
    {{ book.blurb }}
    <p><strong>Genre</strong></p>
    {{ book.genre.all|join:"_" }}
    {% if user.is_authenticated %}
    {% else %}
    <h4 style="color:rgb(11, 75, 75)">A <a href="{%url 'login' %}?next={{request.path}}">login</a> is required to
        borrow the books</h4>
    {% endif %}
    <h2>Copies</h2>
    {%for copy in book.bookcopy_set.all%}
    <p><strong>{{copy.get_status_display}}</p></strong>
    {%if copy.status == 'a'%}
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'borrow' copy.copy_num %}">
        {% csrf_token %}
        <button type="submit" class="button">BORROW</button>
    </form>
    {% endif %}
    {% elif copy.status == 'b'%}
    <p><strong>Due to be returned: {{copy.due_back}}</strong></p>
    {% endif %}
    <p>Id: {{ copy.copy_num }}</p>
    <p>Imprint: {{ copy.imprint }}</p>
    {% endfor %}
    <h3>Click here to checkout <a href="{% url 'base_generic' %}">other pages</a></h3>
</body>

</html>