<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        h1 {
            font-family: Courier;
        }

        p {
            font-family: Courier;
        }

        a:link {
            color: rgb(11, 75, 75);
            text-decoration: none;
            background-color: none;
        }

        a:visited {
            color: rgb(11, 75, 75);
            text-decoration: none;
            background-color: none;
        }

        a:hover {
            color: grey;
            text-decoration: underline;
            background-color: none
        }
    </style>
    <title>Hub</title>
</head>

<body>
    <div style="background-color: rgb(11,75, 75);padding:2px;color:whitesmoke;">
        <h1 style="text-align:left;margin-left:10px;">Book List</h1>
    </div>
    <h3>Click here to checkout <a href="{% url 'base_generic' %}">other pages</a></h3>
    {% if book_list %}
    <dl>
        {% for book in book_list %}
        <dt>
            <a href="{{ book.get_absolute_url }}">
                <h2 title=" {{ book.author }} ">{{ book.title }}
                </h2>
                <! when you hover it will show the author>
            </a>
        <dd>{{ book.blurb }}</dd>
        </dt>
        {% endfor %}
    </dl>
    {% else %}
    <p>There is no book in the library.</p>
    {% endif %}

</body>

</html>