<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
            font-family: Courier;
        }

        p {
            font-family: Courier;
        }

        a:link {
            color: rgb(11, 75, 75);
            text-decoration: none;
            background-color: none;
        }

        a:visited {
            color: rgb(11, 75, 75);
            text-decoration: none;
            background-color: none;
        }

        a:hover {
            color: grey;
            text-decoration: underline;
            background-color: none
        }

        table,
        th,
        td {
            border: 1px solid whitesmoke;
            border-collapse: collapse;
            text-align: center;
            padding: 5px;
        }

        tr:nth-child(even) {
            background-color: lightgrey;
        }
    </style>
    <title>My Borrowed books</title>
</head>

<body>
    <h1>My Borrowed Books</h1>
    {% if borrowed_list %}
    <table style="width:60%">
        <tr>
            <th>Book</th>
            <th>Due Date</th>
            <th>Fine</th>
        </tr>
        {% for copy in borrowed_list %}
        <tr>
            <td>
                <a href="{% url 'book-detail' copy.book.pk %}">
                    {{ copy.book.title }}
                </a>
            </td>
            <td>
                {{ copy.due_back }}
            </td>
            <td>
                {{copy.fine}}
            </td>
        </tr>
        {% endfor %}
        <table>
            {% else %}
            <p>You have not borrowed any books.</p>
            {% endif %}
            <h2>Click here to return to the <a href="{% url 'hub' %}"> home page.</a></h2>
            <h3>Click here to checkout <a href="{% url 'base_generic' %}">other pages</a></h3>

</body>

</html>