<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Book Hub</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'hub' %}">All books</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'all-borrowed' %}">All Borrowed Books</a></li>
          <li><a href="{% url 'user-books' %}">My Borrowed Books</a></li>
          <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
          <li>User: {{ user.get_username }}</li>
          {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
          {% endif %}
        </ul>
        </ul>
        {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>

</html>